@import 'configure';

#output {
  .title {
    color: #333;
    font-family: $title;
  }

  .tag {
    font-family: $tag;
  }

  .date {
    font-family: $date;
  }

  .body {
    font-family: $body;
  }

}